/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require normalize
 *= require_tree .
 *= require_self
 */

body {
	margin-bottom: 15px;
}

.td-small {
	width: 65px;
}

.callendar-wrapper {
	text-align: center;
}
.callendar {
	/* todo alinhar corretamente ao meio os .callendar-day */
	display: inline-block;
	text-align: left;
}

.callendar-day {
	display: inline-block;
	text-align: center;
	width: 13.3%;
}

.form-control-date {
	display: inline-block;
	width: auto;
}

input[type="submit"] {
	float: right;
}

.block {
	display: block;
}